.navlink {
  @apply text-white font-medium text-lg border-b-2 border-[#242423] font-body duration-300 ease-out hover:border-b-2 hover:border-[#F5CB5C];
}
.btn {
  @apply bg-[#F5CB5C] px-6 py-2 text-black rounded-full border-none hover:bg-[#F2BE2F];
}
.icon-bg {
  background: linear-gradient(140deg, #333533 50%, #242423 50%);
  height: 170px;
  width: 200px;
}
.logo {
  height: 2rem;

  opacity: 50%;
}
.show--project {
  background-color: rgba(0, 0, 0, 0.715);
}
.swiprNavNext,
.swiprNavPrev {
  margin-top: 30px;
}
.swiper-pagination-bullet {
  background-color: white !important;
  height: 7px !important;
  width: 21px !important;
  border-radius: 100px !important;
}
